@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800);
h1 {
  padding-top: -200px;
  font-weight: 400;
  font-size: 2.4em;
  color: #2c3e50;
}
.letterDrop {
  top: 1em;
  display: inline-block;
  letter-spacing: 0.3em;
  opacity: 0.8;
  transform: rotateX(-90deg);
  animation: letterDrop 1.2s ease 1 normal forwards;
}
@keyframes letterDrop {
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.8;
    top: 3.75em;
    transform: rotateX(-360deg);
  }
  100% {
    opacity: 1;
    top: 4.50em;
    transform: rotateX(360deg);
  }
}
.parallax {
  /* The image used */
  background-image: url("7.jpg");
  height: 85%;
  min-height: 680px;
  color: rgba(69, 76, 86, .3);
  box-shadow: inset 0 0 0 2000px rgba(42, 45, 51, .5);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
.b2 {
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  padding: 11px 140px;
  color: white;
  border: 1px solid white;
  transition: .3s;
  border-radius: 5px;
}
.b4:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(22, 24, 92);
  border-radius: 5px;
  border: 1px solid rgb(22, 24, 92);
}
.b3 {
  left: 200px;
}
.b1 {
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  padding: 11px 140px;
  color: white;
  border: 1px solid white;
  transition: .3s;
  border-radius: 5px;
}
.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
.faq-title h3 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}

.faq-title h3::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: rgb(22, 24, 92);
  bottom: -25px;
  margin-left: -30px;
}

.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}
/* Card*/
.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
width: 95%;
max-width: 400px;
  display: inline-table;
  color: white;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  /*
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;*/
}

.faq .card .card-header:hover {
  background: rgba(233, 30, 99, 0.1);
  padding-left: 10px;
}

.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  text-decoration: none !important;
  /*
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;*/
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  float: left;
 
  border-radius: 20px;
  text-align: center;
  background: rgba(22, 24, 92,0.5);
  color: #fff;
  /*font-size: 12px;*/
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;

}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.row.grid .cell {
  margin-left: 0;
}

/*schedule*/

h2 {
  position: relative;
}

h2:after {
  content: "";
  display: block;
  border-bottom: 3px solid #009688;
  height: 0.7em;
  flex-grow: 1;
  margin-left: 8px;
}

@media all and (min-width: 400px) {
  h2:after {
    margin-left: 16px;
  }
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #009688;
}

a:hover {
  border-bottom-width: 2px;
}

header, .bar>div, main>div, footer {
  max-width: 800px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

@media all and (min-width: 400px) {
  header, .bar>div, main>div, footer {
    margin-top: 16px;
  }
}

@media all and (min-width: 400px) {
  header, .bar>div, main>div, footer {
    margin-bottom: 16px;
  }
}

@media all and (min-width: 400px) {
  header, .bar>div, main>div, footer {
    padding-left: 16px;
  }
}

@media all and (min-width: 400px) {
  header, .bar>div, main>div, footer {
    padding-right: 16px;
  }
}

@media (min-width: 1032px) {
  header, .bar>div, main>div, footer {
    padding-left: 108px;
  }
}

main>div, footer {
  margin-top: 16px;
}

@media all and (min-width: 400px) {
  main>div, footer {
    margin-top: 32px;
  }
}

.pullaway {
  padding-bottom: 4px;
}

@media all and (min-width: 400px) {
  .pullaway {
    padding-bottom: 8px;
  }
}

@media all and (max-width: 600px) {
  .pullaway {
    margin-top: 25px;
  }
}

.pullaway>i {
  font-style: normal;
  display: block;
  min-width: 100px;
  , ar
}

.pullaway>i, .pullaway>span {
  opacity: 0.7;
}

.pullaway p {
  margin: 0;
}

@media (min-width: 1032px) {
  .pullaway {
    position: relative;
    margin-top: 0;
  }
  .pullaway>i {
    display: block;
    position: absolute;
    right: 100%;
    text-align: right;
    padding-right: 8px;
  }
}

@media all and (min-width: 1032px) and (min-width: 400px) {
  .pullaway>i {
    padding-right: 16px;
  }
}

/* Meet the Team*/

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  max-width: 80%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner h1 {
  font-size: 30px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:active {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: black;
  transform: rotateY(180deg);
}

#map {
  min-height: 520px;
  height: 65%;
  margin-top: 50px;
  width: 100%;
}

/*social media*/

.social-wrap {
  width: 100%;
  padding:20px;
  position: absolute;
background-color: blue;

}
.social-wrap button {
  margin-top: 25px;
  border: none;
  outline: none;
  width: 70px;
  height: 70px;
  font-size: 2em;
  transition: color .25s ease-out, background .25s ease-out, border-radius .25s ease-out;
  box-shadow: 0px 27px 73px -10px rgba(0, 0, 0, 0.75);
  display: inline-block;
}
.social-wrap button:hover {
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 27px 45px -10px rgba(0, 0, 0, 0.75);
}
.social-wrap .facebook {
  color: #3b5998;
  background-color: #fff;
}
.social-wrap .facebook:hover {
  color: #fff;
  background-color: #3b5998;
}
.social-wrap .facebook:active {
  background-color: #fff;
  color: #3b5998;
}
.social-wrap .twitter {
  color: #00aced;
  background-color: #fff;
}
.social-wrap .twitter:hover {
  color: #fff;
  background-color: #00aced;
}
.social-wrap .twitter:active {
  background-color: #fff;
  color: #00aced;
}
.social-wrap .google-plus {
  color: #dd4b39;
  background-color: #fff;
}
.social-wrap .google-plus:hover {
  color: #fff;
  background-color: #dd4b39;
}
.social-wrap .google-plus:active {
  background-color: #fff;
  color: #dd4b39;
}
.social-wrap .github {
  color: #8B4513;
  background-color: #fff;
}
.social-wrap .github:hover {
  color: #fff;
  background-color: #8B4513;
}
.social-wrap .github:active {
  background-color: #fff;
  color: #8B4513;
}
.social-wrap .codepen {
  color: #000000;
  background-color: #fff;
}
.social-wrap .codepen:hover {
  color: #fff;
  background-color: #000000;
}
.social-wrap .codepen:active {
  background-color: #fff;
  color: #000000;
}
.social-wrap .youtube {
  color: #ae0000;
  background-color: #fff;
}
.social-wrap .youtube:hover {
  color: #fff;
  background-color: #ae0000;
}
.social-wrap .youtube:active {
  background-color: #fff;
  color: #ae0000;
}

a:active {
  text-decoration: none;
  color: white;
}